* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.container {
    width: 450px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 25px;
    padding: 25px 35px;
    margin:15px;
}

.container img {
    height: 120px;
    border-radius: 50%;
}
.info-container {
    text-align:center;
    display: flex;
    flex-direction:column;
    gap:10px;
}
.info-container h3 {
    font-weight: 500;
    color: hsl(75, 94%, 57%);
}

.info-container h1, p {
    color: hsl(0, 0%, 100%);
    text-align: center;
}
.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.links a {
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    padding: 15px; 
    border-radius: 10px;
    font-weight: bolder;
    transition: all 0.1s linear;
}
.links a:hover {
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 8%);
}
@media screen and (max-width:450px) {
    .container {
        padding:25px 25px;
    }
}

@media screen and (max-width:380px) {
    .container {
        padding:25px 15px;
    }
    .info-container h1{
        font-size:24px;
    }
    .info-container h3 {
        font-size:17px;
    }
    .links a {
        font-size:15px;
        font-weight: 500;
    }
}